[2021-05-17 05:15] Nv7-GitHub opened #179 "Help: Calling a function multiple times doesn't work"
Is this the right place to ask for help?

Anyway, calling `printf` once works:
[code]
Output:
[code]

But calling `printf` a second time results in it being called twice, once with invalid args.
[code]

Output:
[code]

When I call it a 3rd time, it prints three times:
[code]

Output:
[code]

 Also, it isn't an issue with the math or integer printing or float printing. This is what happens when I c

[2021-05-17 08:52] mewmew commented on #179
Hi @Nv7-GitHub,

I think this is caused by missing NULL-byte in the strings.

[code]

Output after fix:

[code]

Closing this issue as resolved. Let us know if it is not working.

Cheers,
Robin

[2021-05-17 08:52] #179 closed

[2021-05-18 01:33] Nv7-GitHub opened #180 "Help: String concatenation?"
So far I've been learning LLVM by looking at the output of C code. For functions like `printf`, `puts`, and `strlen`, you just define the function signature and then call it. However, how do I use `strcat`? When looking at the C output, it generates things like:
[code]
And to use it it calls:
[code]

How does this work? How would I generate code to concatenate two strings with this library?

[2021-05-18 01:42] Nv7-GitHub commented on #180
Never mind, it seems like you can just call `strcat` too (https://github.com/llir/llvm/issues/22)

[2021-05-18 01:42] #180 closed

[2021-05-18 07:16] dannypsnl commented on #180
I think those functions are handled by cr0 or something like that, the linker will load them when needed.

[2021-05-25 05:04] Nv7-GitHub opened #181 "How do I call LLVM IR?"
I compiled some C code to LLVM. Is there a way to use this LLVM code as raw text (for example, one of the functions)?

[2021-05-25 08:15] mewmew commented on #181
You can either use the official LLVM interpreter `lli` to run LLVM IR code. Or you can compile and link the LLVM IR code to a binary executable, using e.g. `clang`.

Given `foo.ll`:
[code]

Run through `lli` as follows:
[code]

Compile using `clang` and run binary executable as follows:
[code]

In both cases the status code will be 42. Which can be echoed e.g. using `echo $?` in bash or `echo $sta

[2021-05-25 08:15] #181 closed

[2021-05-25 08:16] mewmew commented on #181
Or do you mean to use within `llir/llvm`? If so, take a look at [llir/llvm/asm.ParseFile](https://pkg.go.dev/github.com/llir/llvm/asm#ParseFile).

[2021-05-25 17:06] Nv7-GitHub commented on #181
After using ParseFile, how do you get a function from the module?

[2021-05-26 04:56] dannypsnl commented on #181
https://pkg.go.dev/github.com/llir/llvm@v0.3.3/ir#Module

There has a field called `Funcs`

[2021-05-26 19:02] Nv7-GitHub opened #182 "Ignore type-checking"
I don't know what type my function's return type will be until I have made all of the code up to the return statement. Most of the time this works, however, when I try to do recursion, I get errors due to mismatching types. In addition, these errors are `panics`, so I can't ignore them. Is there any way to ignore these types, and have it figure out the types when converting a module to a string (b

[2021-05-26 21:43] mewmew commented on #182
Hi @Nv7-GitHub,

Do you have a minimal reproducible example? That would help us get a better insight into the use case, and try to help in a more time efficient manner. Right now, and for the next few weeks, I'll be quite busy at work and in life, so I won't be able to help out too much. Hope you manage to figure out a good approach to solve this.

Just for reference, this seem related to #65.

Ch

[2021-05-26 21:50] Nv7-GitHub commented on #182
I want the opposite - I want to be able to disable the type-checking, and have it assume that I did it correctly in certain parts. Is this possible?

[2021-05-26 23:28] mewmew commented on #182
I think we should revisit the early type-checking. Either move parts to a later semantic evaluation step (e.g. #77), and/or convert panic to non-fatal logging, at least where possible.

[2021-05-26 23:46] mewmew commented on #182
@Nv7-GitHub would you be able to provide a minimal proof of concept example (e.g. 30-50 or so lines of Go code which generates a recursive function, but fails with panic)?

[2021-05-27 00:20] dannypsnl commented on #182
Seems like postpone type checking would be nice.

[2021-05-27 06:22] mewmew commented on #182
cc: @pwaller

If memory serves me right, you wanted to add early type-checking panics to facilitate debugging when implementing a compiler using `llir/llvm`.

Would replacing early type-checking panics with optional logging still support your use case, and then postponed type-checking to the semantic analysis stage?

[2021-05-27 16:02] Nv7-GitHub commented on #182
So basically, I have a bunch of statements in a function. I don't know the return type of the function, but by going through the statements, I can figure out the return type. However, previous statements might affect the current statement, and so on, because a variable definition will affect the type of the variable. In the end, after all the variables are defined, I can convert the return stateme

[2021-05-27 17:38] jeshan opened #183 "Parse error for lines starting with carets"
On calling the following file with `asm.ParseString`:
[code]

I get an error that says:
[code]

If I remove the lines starting with carets, i.e all of these:
[code]

Then the parsing completes.

[2021-05-27 17:42] jeshan commented on #183
Note that the file I mentioned was disassembled with `llvm-dis` version 10.0.0

[2021-05-27 18:34] mewmew commented on #183
Hi @jeshan,

Glad to see you exploring the world of LLVM IR :)

You've stumbled on module summaries, a concept introduced in LLVM quite some time ago. It is the only concept we know of (as of LLVM 11.0) which has not yet been covered by the grammar of `llir/grammar`, and is thus not yet implemented in `llir/llvm`.

For reference, this is covered by issue #43.

Should you feel up for the challenge,

[2021-05-27 18:36] mewmew commented on #183
Marking this as duplicate of #43 for now, as they both refer to module summaries. Feel free to close this issue, and send us a ping if you feel like joining us on developing `llir/llvm` :)

[2021-05-27 18:38] mewmew commented on #182
What function panics (file + line nr)? As you don't need early type-checking, just try to comment out the line that panics and see if it works ;)

[2021-05-27 19:15] jeshan commented on #183
Thanks, Robin.

I'm glad you all have managed to get so much work done so far

That is definitely outside of my skill set!

[2021-05-27 19:15] #183 closed

[2021-05-27 19:51] pwaller commented on #182
My memory of this is quite old/worn. I don't hold strong opinions here, I am not currently deeply invested in this project, so my 2¢ should be downweighted appropriately. It would be useful to see a specific case (code + crash) for the ticket.

Remembering from the past, the goal in my mind of the early typechecking is to prevent you from constructing something broken, in my experience if you expl

[2021-05-27 20:32] Nv7-GitHub commented on #182
Right now the function panicking is Store, but it could be any, store is just the first one called

[2021-05-27 21:26] jeshan opened #184 "Parsing error in array: character array type mismatch; expected "[3 x i8]", got "[2 x i8]""
I've got this error on one of my files. I've been able to narrow it down a bit.

Full gist: https://gist.github.com/jeshan/b8eb3cc7d7c12babedb1884b39b5e5b1

This gist was obtained when I compiled musl libc 1.2.2. In particular, its [towctrans.c file](https://git.musl-libc.org/cgit/musl/tree/src/ctype/towctrans.c?h=v1.2.2) produced the above assembly.

If you comment the module summary at the botto

[2021-05-27 22:35] #184 closed

[2021-05-27 22:39] mewmew commented on #184
Thanks @jeshan for reporting this issue! You helped us uncover a bug in `llir/llvm` (which is now fixed in rev f16bc2c5ace0a742e564a36f467fd8d1f503858e).

The issue was in `enc.Unquote` and was triggered by this code:

[code]

where the `i+2` was expecting two hexadecimal characters following the slash, but only one character may follow if it is the backslash-backslash escape sequence (`\\`). So,

[2021-05-27 22:41] mewmew commented on #184
P.S. to strip the module summary aspects of the code example you posted, I ran the following LLVM command:

[code]

[code]

[2021-05-28 05:11] dannypsnl opened #185 "git: commit hook"
I think a template commit message would be nice, and using direnv can load hooks automatically, what do you think? @mewmew

[2021-05-28 05:12] dannypsnl commented on #185
Template
[code]

[2021-05-28 06:42] mewmew commented on #185
I'm ok with following the commit message style used by the Go project (https://github.com/golang/go/commits/master).

[code]

Personally, I don't think I need a commit hook for this. Feel free to configure one for your own use.

Cheers,
Robin

[2021-05-28 09:49] #185 closed

[2021-05-28 13:22] jeshan commented on #184
Wow thanks for such a speedy fix. I was struggling with this for days so I should have reported sooner!

Good to know, thank you.

Happy summer. I hear it's a short and anticipated one in Sweden! :smile:

[2021-05-28 18:23] mewmew commented on #184
Most definitely! We have a saying in Sweden, *Summer is the best **day** of the year* ;)

[2021-05-29 06:44] dannypsnl commented on #113
Do we still have something need to do here?

[2021-05-29 08:47] mewmew commented on #113
Perhaps constant folding is better to implement outside of the core `llir/llvm` API. It was only ever partially implemented for a few constant types, and never supported fully.

I think we can safely remove these methods in their entirety, as their functionality was never implemented enough to be useful for users to rely on.

Then we can move this concept to an `irutil` package.

[code]

[2021-05-30 20:10] mewmew commented on #66
Resolved by llir/irutil#2 (at least in part). See https://github.com/llir/irutil/pull/2#issue-657416343 for usage. It would be good to implement parsing and handling of data layout strings, building upon this API, and add such functionality to `irutil`.

[2021-06-04 08:07] mewmew commented on #113
Moved to `irutil` by @dannypsnl in llir/irutil#3.

As discussed in https://github.com/llir/llvm/issues/113#issuecomment-850797736, the functionality of constant folding was never properly implemented so it is very unlikely that users have come to rely on it. For this reason, it will be removed from `llir/llvm/ir/constant` in its entirety. The functionality of constant folding has been moved to `ir

[2021-06-04 08:30] #113 closed

[2021-06-13 11:35] mewmew opened #188 "irutil: add stdlib package for C standard library declarations"
As suggested in https://github.com/llir/llvm/pull/187#issuecomment-860148771:

Add a new `irutil/stdlib` package containing function (and global variable) declarations for interacting with the C standard library.

We should consider automatically doing this, perhaps using the LLVM compiler to parse the C standard library headers and generating LLVM IR function (and global variable) declarations.

[2021-06-13 17:05] dannypsnl commented on #188
@mewmew Would you like to create the issue in llir/irutil?

[2021-06-13 17:06] dannypsnl commented on #115
Do we have any updates here?

[2021-06-13 17:09] dannypsnl commented on #188
Maybe we will also need llvm built-in variables/functions? C-API is a bit dangerous, they are added by linker, not always will be there.

[2021-06-13 17:19] mewmew commented on #188
Lets keep all issues in one tracker for now (in `llir/llvm/issues`). It's easier to get an overview of the entire `llir` project that way.

[2021-06-13 17:24] mewmew commented on #66
Sounds good to me, feel free to create a new issue and close this one.

[2021-06-13 17:26] mewmew commented on #115
Not yet. Deep copy is difficult to handle correctly. And writing it manually will be difficult to update whenever we update the `llir/llvm/ir` struct representation. Therefore, we would like to find an automated approach. Either by code generation (after parsing the type definitions of `llir/llvm/ir`) or by using reflection (e.g. as is done in the [deep-copy](https://github.com/globusdigital/deep-

[2021-06-13 18:30] #66 closed

[2021-06-13 18:31] dannypsnl opened #189 "irutil: data layout configuration"
It would be good to implement parsing and handling of data layout strings, building upon this API, and add such functionality to irutil.

[2021-06-13 21:24] mewmew commented on #189
ref: #66

[2021-06-14 17:18] Nv7-GitHub opened #190 "`sizeof`?"
How do you call the `sizeof` function from LLVM? When C code using `sizeof` is generated, the code generated just has a constant. Is there a way to find the size of an object from LLVM?

[2021-06-14 21:37] mewmew commented on #190
Hi @Nv7-GitHub,

There is an initial implementation for handling basic types (e.g. int, float, etc). See [irutil.Layout](https://pkg.go.dev/github.com/llir/irutil#Layout) and [irutil.DefaultLayout.Sizeof](https://pkg.go.dev/github.com/llir/irutil#DefaultLayout.SizeOf). Note that the implementation does not yet handle calculating the size of composite types (e.g. arrays, structs, etc) as they depen

[2021-06-14 21:42] mewmew commented on #189
This issue requires parsing the LLVM [data layout](https://llvm.org/docs/LangRef.html#data-layout) string to determine the memory layout, so we can handle padding of struct fields and array elements. Having implemented parsing of LLVM data layout strings, implementing support for composite types for the [irutil.Layout](https://pkg.go.dev/github.com/llir/irutil#Layout) interface should be rather st

[2021-06-14 21:59] Nv7-GitHub commented on #182
I was able to find a workaround for this issue by just calculating the type before, so I have resolved my side of the issue.

[2021-06-14 22:05] Nv7-GitHub commented on #190
Are there any examples on using `irutil.Layout`?

[2021-06-14 22:32] mewmew commented on #190
Here is a rough usage example. It assumes 1-byte memory alignment. Preferably such information should be parsed from the LLVM IR [data layout](https://llvm.org/docs/LangRef.html#data-layout) string (i.e. [llir/llvm/ir.Module.DataLayout](https://pkg.go.dev/github.com/llir/llvm/ir#Module.DataLayout)).

[code]

[2021-06-24 15:27] dannypsnl opened #191 "interface BinaryInstruction"
In some optimization, like value numbering, can find out BinaryInstruction automatically will be a nice feature. For example:

[code]

[2021-07-10 02:28] dannypsnl opened #192 "update llvm to support 12.0.1"
ref: https://releases.llvm.org/download.html#12.0.1

NOTE: check if any updates

[code]

Result:

[code]

[2021-07-11 23:53] IbrahimFadel opened #193 "Typedefs and Struct types"
I'm trying to creat typedefs and struct types, but ran into some issues. Here is code the replicate the issues:

[code]

And this is what the module looks like:

[code]

Firstly, when i do `someTypeName := mod.NewTypeDef("SomeTypeName", types.I32)`, I expect that it only uses `%SomeTypeName` when I explicitly specify to use it. But instead, whenever it sees an `i32` it replaces it with `%SomeTypeN

[2021-07-12 00:18] dannypsnl commented on #193
https://llir.github.io/document/user-guide/types/#structure

[2021-07-12 00:37] IbrahimFadel commented on #193
Sorry, i didn't see that document. That answers my question about the struct type, but is there anything I can do about `%SomeTypeName` replacing any instance of the `i32` type?

[2021-07-12 08:38] dannypsnl commented on #193
minimal replacing example
[code]

@mewmew I believe this is a bug.

[2021-07-12 20:38] mewmew commented on #193
Is the issue that it replaces all `i32` types with `%SomeTypeName`?

The reason for this is that `types.I32` is being defined as `%SomeTypeName` in this call:

[code]

If you want to add a new type def but not replace all instances of `i32`, then do as follows (notice the line with `types.NewInt(32)`):

[code]

Which produces the following LLVM IR:

[code]

[2021-07-12 20:46] mewmew commented on #193
@IbrahimFadel, on a side note. Glad to see you experimenting with LLVM :)

Curious what you are using type names for. If you are using them just to experiment and test concepts that's great. If you want to use type names to implement functionality which depend on the names, then just wanted to give a quick heads up. In LLVM IR the type name of struct types is used for type identity in type equalit

[2021-07-12 21:25] IbrahimFadel commented on #193
@mewmew Thanks for the working example.

I'm using the type names for typedefs in my toy compiler. So similar to go you can do something like this:

[code]

I just wanted to solve that issue of all instances of `i32` being replaced because I want to emit IR that makes sense given the source, so ideally it would preserve the type declaration's name, but only in the places where you actually use tha

[2021-07-12 21:25] #193 closed

[2021-07-12 22:12] mewmew commented on #193
Cool!

Most happy to help! Best of luck with [pi-lang](https://github.com/IbrahimFadel/pi-lang) and happy hacking!

Cheers,
Robin

[2021-07-12 22:14] mewmew commented on #193
@IbrahimFadel if you want `pi-lang` to appear on the [Users section](https://github.com/llir/llvm/blob/master/README.md#users) of the `llir/llvm` repo, just send a PR to update the README :) See #187 for an example PR.

[2021-07-12 22:17] IbrahimFadel commented on #193
Oh wow that would be great! Once i've made some more progress in my go rewrite, and i'll be happy to make a PR :)

[2021-07-12 22:30] mewmew commented on #193
Lovely :)

P.S. sent you a tiny PR at IbrahimFadel/pi-lang#8.

[2021-07-16 03:17] dannypsnl commented on #190
@mewmew Probably we can merge these **howto** to document?

[2021-07-16 03:20] dannypsnl commented on #191
From @mewmew

The `Operands` function returns the operands for each instruction.
The `GetOpCode` function returns the opcode of each instruction.
The `opcode.IsBinaryInst` method may be used to distinguish binary instructions.

For now, we can place `Operands`, `GetOpCode` and `OpCode` in `irutil`. It is quite likely that we will move Operands to become a method for each instruction, and include i

[2021-07-16 03:33] dannypsnl commented on #169
@mewmew would you like to start working on test cases updating?

[2021-07-16 05:59] mewmew commented on #191
Uploaded a preliminary example for issue 191.

[code]

[2021-07-16 06:01] mewmew commented on #169
If you would like to try updating the test cases this time, then feel free. Otherwise, I can update them later on. I'll be heading out on vacation soon; will be tenting this weekend and then going for a longer trek in the south of Sweden starting next week.

[2021-07-18 21:02] mewmew opened #195 "update test cases to LLVM 12.0"
Similar steps taken to those detailed in #132.

Update of [llir/testdata/llvm/Makefile](https://github.com/llir/testdata/blob/master/llvm/Makefile):
[code]

# Update `*.ll` test cases of LLVM

[code]

[code]

[2021-07-18 21:30] mewmew commented on #195
# Run tests and check for mismatches

From `llir/llvm` directory, run:
[code]

## Failing golden test cases

Search for `mismatch` in test case output:
[code]

## Failing with syntax error

Search for `syntax error at line` in test case output:
[code]

[2021-07-18 22:12] mewmew commented on #195
Notes on how the golden test cases were updated in commit https://github.com/mewpull/testdata/commit/3ccdb27b7a0d087823e29b1a9a19bd1aa6273e67

# Update golden test cases

## `test/Transforms/InstCombine/vec_demanded_elts.ll`

[code]

[code]

From the `git diff` output we see that several new function definitions have been added. Copy these from `vec_demanded_elts.ll` to `vec_demanded_elts.ll.golde

[2021-07-18 22:18] mewmew commented on #195
# Parse errors

The following test case files require updates to the LLVM IR grammar (for inspiration, see #101 for updating the grammar to LLVM 9.0).

For errors like `asm_test.go:516: unable to parse "../testdata/llvm/test/Bitcode/compatibility.ll" into AST; syntax error at line 46`:

* Update grammar
	- [ ] [`testdata/llvm/test/Bitcode/compatibility.ll`](https://github.com/llir/testdata/blob/3c

[2021-07-18 22:25] mewmew commented on #169
I had some time left over :) So sent a PR for updating the test cases: https://github.com/llir/testdata/pull/9

There are currently 4 known parse errors (see https://github.com/llir/llvm/issues/195#issuecomment-882123799)

* Test cases failing with syntax error:
	- [ ] [`testdata/llvm/test/Bitcode/compatibility.ll`](https://github.com/llir/testdata/blob/3ccdb27b7a0d087823e29b1a9a19bd1aa6273e67/llv

[2021-07-18 22:39] mewmew commented on #169
# Translating AST to IR

* support for `*ast.StructRetAttr` not yet implemented

[code]

[2021-07-19 00:28] mewmew commented on #195
Fixed by PR https://github.com/llir/testdata/pull/9.

[2021-07-19 00:28] #195 closed

[2021-07-20 03:51] dannypsnl opened #196 "fulltest failed"
@mewmew could you take a look? Changes destroyed test
[code]

[2021-07-20 07:56] mewmew commented on #196
Asked upstream for help on what the current best practice is for handling tools dependencies: https://github.com/golang/go/issues/25922#issuecomment-883181614

[2021-07-21 00:20] mewmew commented on #196
Upstream answer from @jayconrod.

@dannypsnl, we should update our CI test scripts to not include the `tools` tag for the `go vet` command. Could you look into how to do this?

Cheers,
Robin

[2021-07-21 06:23] dannypsnl commented on #196
But we didn't run `go vet` command

[2021-07-21 07:48] mewmew commented on #196
@dannypsnl, can you re-produce this issue locally?

When i run `go install -v ./...` I get no error locally (on the `llvm12` branch).

[code]

[2021-07-21 07:58] mewmew commented on #196
Ahh, I think I know what the issue is. We updated the Go build tags to the format supported by Go 1.17 (i.e. using `//go:build tags` instead of `//+build tags`). Older versions of Go does not recognize the new Go build tag format.

So for the time being, we should use both it seems. Then when Go version 1.18 (or 1.19) is released, we can remove the use of `//+build` and only keep `//go:build`.

[2021-07-21 08:02] mewmew commented on #196
Note, the build passes (on rev 11e88e3b2edd2aa8198e7b1434f2e571ce4414ac) using Go version 1.17.

[code]

[2021-07-21 08:08] mewmew commented on #196
Fixed in ee6f05b8ce5a75cd1537738c7db1c3a7d5ad4b3b.

[2021-07-21 08:08] #196 closed

[2021-07-21 08:26] mewmew commented on #191
Related discussions in #42.

There are two considerations we should take, both outlined by @pwaller:

1. return pointer to `value.Value` from `Operands` to allow mutation.
2. pass destination slice to `Operands` to avoid allocation

Regarding the first point, I think this will allow for a very powerful API. Similar to the IR traversal API (inspired by Go fix) that we have in [irutil.Walk](https://

[2021-07-21 12:14] dannypsnl commented on #192
Closed since no changes

[2021-07-21 12:14] #192 closed

[2021-07-21 17:43] jeshan opened #198 "align N may not work in call instruction"
I'm getting a parser error at the line below. Just removing "align 8" allows parsing to proceed

does not work:
[code]

works:
[code]

This was obtained as part of a larger compilation context with

`Ubuntu clang version 11.0.0-2~ubuntu20.04.1`

tested with this in my go.mod:

`github.com/llir/llvm v0.3.4-0.20210604083140-7e6606e193a1`

Note that I checked the [reference for LLVM 11](https://relea

[2021-07-21 18:58] jeshan opened #199 "Add v10 subprogram flags"
I have such code and the deleted flag is currently not recognised:

[code]
It looks like we don't support v10's new flags (deleted, objcdirect) yet:
https://github.com/llir/llvm/blob/3ab8f5aaf20f6f37a5e71c1bee64c49935b0fa42/ir/enum/enum.go#L195-L206

Upstream reference:
https://github.com/llvm/llvm-project/blob/d32170dbd5b0d54436537b6b75beaf44324e0c28/llvm/include/llvm/IR/DebugInfoFlags.def#L92-L9

[2021-07-21 23:55] dannypsnl opened #201 "Branch release?"
SInce #199, I want to backport `DISPFlags` to v10 and v11, thus we better based on release branches to have

1. v0.3.2.1 ~> 10
2. v0.3.3.1 ~> 11

[2021-07-22 13:24] #199 closed

[2021-07-22 13:33] #169 closed

[2021-07-22 13:46] mewmew commented on #198
This is probably related to #40. There are parsing ambiguities of the grammar related to alignment directives (see #40 for further background).

From [ll.tm](https://github.com/llir/grammar/blob/5291534192d972964c2745b7c18ac47208dc6be5/ll.tm#L2753):
[code]

Similarly for return attributes,

[code]

I don't know a good way to solve #40. If you find any, please let me know :)

[2021-07-22 13:51] mewmew commented on #201
Personally, I don't know if we should be supporting and backporting to older versions of LLVM, as this could require a lot of maintenance for our small team.

When syntax changes between versions in LLVM, I think it is better to include a *how to* documentation to help users upgrade their old LLVM IR syntax to newer versions of LLVM. This can be done using the official LLVM tool chain. E.g. using

[2021-07-23 00:12] dannypsnl commented on #201
Yes, team size is a big problem here XD, close for now. If anyone wants to have backporting, feel free to reopen it.

[2021-07-23 00:12] #201 closed

[2021-07-31 00:03] dannypsnl commented on #115
https://github.com/jinzhu/copier have a try?

[2021-07-31 09:53] mewmew commented on #198
Closing as duplicate of #40. If it turns out this is not a duplicate, please feel free to re-open this issue.

Cheers,
Robin

[2021-07-31 09:53] #198 closed

[2021-07-31 09:57] mewmew commented on #115
@db7, have you tried using the `copier` package for deep copy? I think it should be possible to adapt the code example outlined in https://github.com/llir/llvm/issues/115#issuecomment-563259036 to verify if this library works or not.

@dannypsnl, if you wish, you can also try to adapt the code example of https://github.com/llir/llvm/issues/115#issuecomment-563259036 to see if the `copier` library

[2021-08-19 10:50] svvivek commented on #189
I have tried writing one, please check it out @ https://github.com/llir/irutil/pull/4

[2021-08-28 21:59] dannypsnl opened #203 "Generic and New API"
Generic(a.k.a. parametric polymorphism) added into Go, let's explore how would it change our codebase, this issue is created to track related discussion.

- Go 1.18 Beta 1 or later
- https://go.dev/doc/tutorial/generics

[2021-08-29 10:50] mewmew commented on #203
Great that you started to track the discussion @dannypsnl!

Just to clarify, we will evaluate how using generics would change the `llir/llvm` API, and based on this evaluation of benefits and drawbacks, we would then decide whether to actually update the API to use generics or not. It is also a possibility that generics brings with it more cons than pros in our specific case. Experimentation and e

[2021-09-01 07:37] svvivek commented on #189
Now that the PR is merged, this issue can be closed right ?

[2021-09-01 08:38] mewmew commented on #189
Indeed. Great work1

We can now add methods to the `irutil.DataLayout` to implement the [irutil.Layout](https://pkg.go.dev/github.com/llir/irutil#Layout) interface.

Have a great week :) Happy wishes from Sweden.

Cheers,
Robin

[2021-09-01 08:38] #189 closed

[2021-09-02 13:37] pupiles opened #204 "ast parsed error"
[code]
The codes above are ast parsed error when used `asm.ParseFile` because `align 8` seems not supported when placed as the decorator of a function. Could you pass me some hints on that, really appreciate that.
[heck.ll.zip](https://github.com/llir/llvm/files/7099210/heck.ll.zip)

[2021-09-02 18:59] mewmew commented on #204
Hi @pupiles,

This is probably related to #40? See https://github.com/llir/llvm/issues/198#issuecomment-884925570 for an explanation of what is most likely causing the issue.

I wish we may find a good solution for this, but at least for now, I have not yet found one. If you know any way to solve #40, please let us know :D

Happy wishes from Sweden.

Cheers,
Robin

[2021-09-03 08:35] pupiles commented on #204
Hi @mewmew,

Thanks for your reply.

I wonder if there is a temporary solution to this issue，for the scenario where parsing the correct align position is not important.

Best Wishes,
Pupiles

[2021-09-03 20:21] mewmew commented on #204
Hi @pupiles, you're most welcome :)

Here is possible and very crude work-around. It strips away `align NN` from function declarations and definitions, and call and invoke instructions.

[code]

`strip_ll.sh`:
[code]

Running `strip_ll.sh heck.ll` rewrites the `heck.ll` file so that it can be parsed with `llir/llvm`.

Parsing `heck.ll` (with align stripped) using [l-tm](https://github.com/llir/llv

[2021-09-03 20:22] mewmew commented on #204
I'll close this as a duplicate of #40 for now. I do hope we find a good solution for #40 soon, as it comes up every now and then.

Happy coding!
/robin

[2021-09-03 20:22] #204 closed

[2021-09-29 15:09] dannypsnl opened #205 "update llir/llvm to support 13.0"
LLVM 13.0 was released today: https://github.com/llvm/llvm-project/releases/tag/llvmorg-13.0.0

[code]

[2021-09-30 00:33] Nv7-GitHub commented on #86
Is there a `di` package? I'm looking to add debug info to my language, but am not sure how. The DI API is really confusing, and I'm not sure on the best way to implement it. Being able to do something like
[code]
for every line would be nice

also doing
[code]
would be useful. If the util API isn't ready yet, how would I do this with the current API?

[2021-09-30 00:39] Nv7-GitHub commented on #188
I have implemented a lot of `stdlibc` functions at https://github.com/Nv7-GitHub/bpp/blob/ff2d32542a2b493cc5eaa7e75f349371d9e99111/old/compiler/builtins.go#L46 if that would be any help

[2021-09-30 00:44] Nv7-GitHub commented on #18
There's also [tinygo](https://tinygo.org) which creates LLVM from Go code, and is compatible with most of Go.

[2021-09-30 02:56] mewmew commented on #188
Definitely helpful. I think we can evaluate a few different approaches before settling on the one to use. I would wish for us also to consider maintenance of the `stdlibc` as those headers are updated and e.g. new functions are added. It may be possible to automatically generate LLVM IR code by parsing the std header files. Or perhaps that would be a crazy idea. Still, worth investigating as that

[2021-09-30 03:01] mewmew commented on #86
While messy and low-level, https://github.com/llir/llvm/issues/86#issuecomment-498357924 details the API usage for adding DWARF debug info. Note, the easiest way to try this yourself is to simply generate LLVM IR from C using the `-g` flag to add debug info, and the `--emit-llvm` to generate LLVM IR from Clang. See the comment for details. Then try to generate similar LLVM IR using the `llir/llvm/

[2021-09-30 05:29] Nv7-GitHub commented on #188
Can clang produce LLVM from headers?

[2021-09-30 08:45] mewmew commented on #188
At least using a tiny dummy C file including the headers.

Input (dummy) C file:
[code]

Run:
[code]

Output LLVM IR:
[code]

The output LLVM IR contains the function declarations for `memcpy` and `printf`.

[2021-09-30 13:48] Nv7-GitHub commented on #188
Perhaps by getting a list of stdlib functions and then doing this for the stdlib we could get a list of function declarations, and we could parse them using this library and get the output

[2021-09-30 13:56] mewmew commented on #188
Good question. I'm not quite sure that the best API would. How would you envision yourself wishing to use it @Nv7-GitHub? Perhaps that could help guide API design.

Cheers,
Robin

[2021-09-30 17:43] dannypsnl commented on #188
I'm pretty sure **A map of name to function** would be the best, we simply modify `Module` to do so.

[2021-10-28 12:07] dannypsnl opened #206 "used by"
Since GitHub provides https://github.com/llir/llvm/network/dependents?package_id=UGFja2FnZS0yMjY0ODM3NDQ4, do we still want https://github.com/llir/llvm#users?

[2021-10-31 23:45] mewmew commented on #206
I still think it's valuable to have a *users* section, as it also provides a short description of the project. Still, using the [network dependency graph](https://github.com/llir/llvm/network/dependents?package_id=UGFja2FnZS0yMjY0ODM3NDQ4) is a cool way to find users of `llir/llvm`.

[2021-11-01 02:34] #206 closed

[2021-12-11 16:54] dannypsnl commented on #153
In https://pkg.go.dev/github.com/dannypsnl/extend@v0.2.0#ExtBlock.NewPhi you can get exactly what I described above.

[code]

So I'm going to close this due to the solution existing. Feel free to reopen if you want anything more~~~

[2021-12-12 10:29] dannypsnl commented on #153
@mewmew sorry that I reopen the issue, so after some thought, I still want to port this behavior back to `ir.Block`. Fortunately, `Starter` is not required! Because only `phi` instructions are in front of the block. Thus, I want to define:
[code]
Now,
1. print `Phis` then print `Insts`
2. `NewPhi(incs ...*ir.Incoming) *ir.InstPhi` puts `incs` into `Phis`

Users still can operate `Insts`, but just

[2021-12-12 21:48] mewmew commented on #153
@dannypsnl, would `block.Insts` still include PHI instructions (but require that they are first in the list)? Or would PHI instructions only be included in the `block.Phis` list?

[2021-12-13 09:00] dannypsnl commented on #153
PHI instructions will only be in `block.Phis`

[2021-12-13 16:34] dannypsnl opened #207 "auto name mangling provider"
The idea is we put a mangling provider(maybe a function) in the module like
[code]

Then every function applied with this provider.

[2021-12-13 18:25] mewmew commented on #153
Thanks for clarifying. Given that we would no longer place PHI instructions in `block.Insts`, then the change is an API breaking change.

Any code like this would stop working:
[code]

Therefore, we have to think hard before introducing such a change, due to API breakage.

If the benefit is determined to outweigh the drawbacks of API breakage, then the change may still be introduced (we are still

[2021-12-13 18:32] dannypsnl opened #208 "reject non-pointer type for global"
If we define a new global
[code]
it would cause an error that `global variable reference must have pointer type`

Thus, I think this check is acceptable.

[2021-12-13 19:19] mewmew commented on #207
Good that you open a proposal for how to handle name mangling @dannypsnl. Do you have a specific use case that is blocked without having name mangling being part of the core library?

I would consider the `llir/llvm/ir` package low-level in the sense that the names used for functions and global variables is *already* the mangled name.

That is, if two C++ functions with different function types we

[2021-12-13 19:45] dannypsnl opened #209 "let string loading be easier"
A common string using is like
[code]
but that's quite annoying that we have to use GEP since in most cases we just want a pointer to the zero address of the string and the type of string is always the same.

Thus, I want to introduce API for this
[code]

I think the second one make more sense, since this pattern only useful for string literal

[2021-12-13 19:48] dannypsnl commented on #208
BTW, do you think https://github.com/dannypsnl/extend is a good way to do `irsem`?

[2021-12-13 19:50] dannypsnl commented on #73
@mewmew any updates here? since Go 1.14 has passed for a long time XD

[2021-12-13 19:52] dannypsnl commented on #153
If we only do this on v0.4?

[2021-12-13 20:10] dannypsnl commented on #207
As I remember, `ir.Module` let `m` to `m0` if users added a second global/function called `m` again. For simple usage, this is enough since we can store references to IR instances in a static compiler.

The problem is sometimes we need a predictable mangling, for example, JIT compiler.

And doing mangling outside of the project is ok, but users have to call it again and again.

[2021-12-13 21:57] mewmew commented on #73
Do you know if the standard library error handling provides stack traces in a good way? This is the reason we keep using `github.com/pkg/errors`. E.g. [errors.WithStack](https://pkg.go.dev/github.com/pkg/errors#WithStack)

[2021-12-13 22:13] mewmew commented on #207
Do you mean this is already implemented in `llir/llvm/ir`? I don't remember us implementing it.

The following example Go source file:
[code]

Generates the following LLVM IR:
[code]

In other words, the name of global variables is set as the user specifies it in `llir/llvm/ir`.

This is what I meant with an *IR generation* library. The idea is that users would not use the low-level `llir/llvm/ir`

[2021-12-13 22:15] mewmew commented on #59
Can you provide a quick example code which uses embedding of `ir.Module`?

[2021-12-13 22:28] mewmew commented on #208
I consider [dannypsnl/extend](https://github.com/dannypsnl/extend) to be closer to `irutil`/`irgen`.

For `irsem` we would do a traversal over an entire module, validating it's semantics, e.g. by calling `irsem.Verify`.

ref: https://github.com/llir/llvm/issues/65#issuecomment-464938676

[code]

[2021-12-13 22:42] mewmew commented on #153
I am having doubts since all existing code would stop working (if handling PHI nodes using `block.Insts`), but still compile successfully. Thus, if someone upgrades from `v0.3` to `v0.4` and uses code such as that presented in https://github.com/llir/llvm/issues/153#issuecomment-992749985, their code would compile successfully, but silently produce incorrect results during runtime (since the `bloc

[2021-12-13 22:46] mewmew commented on #209
Since LLVM IR is front end language agnostic, we cannot assume that the strings are NULL-terminated or [length-prefixed](https://en.wikipedia.org/wiki/String_(computer_science)#Length-prefixed). Thus, there may exist more than one reasonable implementation of a "get string" method.

For this reason, it belong well in an `irutil` library. Perhaps we could include two standard versions, one for NULL

[2021-12-13 23:24] dannypsnl commented on #153
I think this is fine, their program would be fine with dependencies lock(this is why we versioning).

Rather than check ideas for a long time and users still suffering from the current codebase, my preferred release solution is
1. release break changes
2. but if any break changes happen, we do releasing immediately
3. if not, we keep waiting

Thus, we provide a promise: you only have one thing to

[2021-12-13 23:44] dannypsnl commented on #209
sounds good

[2021-12-13 23:55] dannypsnl commented on #207
I think this is able to done by extension, for example
[code]
so close.

[2021-12-13 23:55] #207 closed

[2021-12-14 00:21] mewmew commented on #153
I agree with your reasoning.

The thing that scares me is that some users may simply do `go get -u ./...` to update dependencies, and then do `go build` in their project to see if it still compiles. And if it compiles, assume that it should probably work. Unless they take the time to read our specific release notes (which they may not think to do, since their project still compiles successfully af

[2021-12-14 00:29] mewmew commented on #59
I understand your approach and do think it solves a lot of problems, but we still have some remaining issues unless we further refine how we handle sumtypes internally within the `llir/llvm/ir` code base.

For instance, lets consider the user-defined `EStruct` type. It's prefect use case of how to use struct embedding to extend the `*types.StructType` to also support field names.

The problem is t

[2021-12-14 00:49] dannypsnl commented on #153
Just a hint: https://github.com/search?q=%27case+*ir.InstPhi%27+language%3AGo&type=code we actually can detect some effect range?

[2021-12-15 06:18] dannypsnl opened #211 "`interface{}` -> `any`"
https://github.com/golang/go/commit/2580d0e08d5e9f979b943758d3c49877fb2324cb

wow

[2021-12-15 11:09] mewmew commented on #211
Can't say I personally like this change. It hides "ugly" code (i.e. using `interface{}`) as something that looks nice (i.e. `any`). Therefore, we are also hiding the fact that such code is really bad Go standard practice and should only be used when no compile-time static type-safe alternative exists. Using `interface{}` type type assertions may crash at runtime.

[2021-12-15 11:22] dannypsnl commented on #211
So we will do this too one it release?

[2021-12-15 13:39] mewmew commented on #211
Do we have any occurrences of the empty interface in the `llir/llvm` code base?

[2021-12-15 16:25] dannypsnl commented on #211
Yes, `ir/helper.go`

[2021-12-15 18:19] mewmew commented on #211
I see, those have the same API as `fmt.Fprintxxx`. I don't think using `any` instead of `interface{}` gives a benefit, but to stay consistent with the standard library (as they've updated already), we can do so as well.

However, this would make our minimum Go language requirement higher. Is it really needed?

[2021-12-15 18:24] dannypsnl commented on #211
It's not needed, but I don't think minimum requirement would be a problem. From v1 to now, Go ensure the old program is compiled as usual.

[2021-12-15 19:41] mewmew commented on #211
Right. As it's not needed, I'll close this issue for now. The very few places were we currently use `interface{}` are not related to any API that `llir/llvm` users use, i.e. not related to the IR API. So, the value gained from using `any` is very little, and the downside is that users with older versions of Go (older than 1.18) would be unable to use the latest commit of `llir/llvm.

We currently

[2021-12-15 19:41] #211 closed

[2021-12-18 06:04] dannypsnl commented on #208
https://github.com/llir/irsem solution

[2021-12-18 22:44] mewmew commented on #208
re: https://github.com/llir/irsem/blob/cda51dc46b55de911196e57f5848c5c828edf1a9/verify.go#L11

@dannypsnl, are you sure this semantic is not valid in LLVM IR? I think it is.

[code]

Outputs the debug message:
[code]

And the LLVM IR:

[code]

The output LLVM IR is *valid* when run through `lli`

[code]

As such, the type of `*ir.Global.ContentType` may be a non-pointer type, and this is still val

[2021-12-19 05:55] dannypsnl commented on #208
[code]

write to temporary llvm file

[code]

compile

[code]

[2021-12-19 06:23] dannypsnl commented on #208
But have to notice, if we only write
[code]
compile produces
[code]

[2021-12-19 13:20] #153 closed

[2021-12-20 11:41] mewmew commented on #208
Ah, it's missing `external`.

[code]

Therefore, the `@x` is read as the initializing value of `@hello`.

[2021-12-20 12:43] dannypsnl commented on #208
Emmm, should we fix this automatically? Or check in irsem

I think the check would be a global missing initializer should with external

[2021-12-20 21:41] mewmew commented on #208
The check can be added to irsem. If `global.Init == nil` and `global.Linkage` is the zero value (`LinkageNone`), or something along those lines.

[2021-12-21 04:12] dannypsnl commented on #208
Then please check [30da92f3d2381f91fd7af9edfbb5633b49a647d0](https://github.com/llir/irsem/commit/30da92f3d2381f91fd7af9edfbb5633b49a647d0), if ok then I close this issue.

[2021-12-21 09:40] pupiles opened #212 "ast parse error"
Hi,
[code]
The codes above are ast parsed error when used asm.ParseFile because "class.std::__cxx11::basic_string" seems not supported. Could you pass me some hints on that, really appreciate that.
[test.cpp.o.zip](https://github.com/llir/llvm/files/7751218/test.cpp.o.zip)

[2021-12-21 17:03] mewmew commented on #208
LGTM, with minor comment https://github.com/llir/irsem/commit/30da92f3d2381f91fd7af9edfbb5633b49a647d0#r62298445

[2021-12-21 17:07] mewmew commented on #212
@pupiles, I tried compiling the LLVM IR example you provided using Clang (13.0.0), but get the same error:

[code]

So, it seems the official LLVM tools are not able to parse the `gdpr_handler.cpp.o` LLVM IR file. Try generating a new one using Clang, version 13.0.0.

[2021-12-21 17:15] dannypsnl commented on #212
@pupiles btw, do you know what generates this file? It might be a new feature of llvm

[2021-12-22 06:34] pupiles commented on #212
@mewmew @dannypsnl,
It is generated by clang11, and clang11 can disassemble correctly by llc-11, but I can't parse it using llir either v0.3.3(llvm11) or v0.3.4(llvm12).

[2021-12-22 07:47] dannypsnl commented on #212
@mewmew
[code]

A draft start

[2021-12-22 16:05] mewmew commented on #212
It seems there are two primary issues with the LLVM IR file that causes the parsing to fail.

Firstly, the `sret` parameter attributes (without explicit type) are valid for LLVM 11.0, but not for LLVM 13.0. In LLVM 13.0, an explicit type is needed, e.g.

[code]

This was verified by trying to parse the original `gdpr_handler.ll` file using `opt -S -o foo_13.ll gdpr_handler.ll` using `opt` from LLV

[2021-12-22 17:39] pupiles commented on #212
@mewmew
Thanks for your reply,
For the `sret` parameter attribute, it indicates the  return value of the function,so i think it is the important for Data flow analysis,It may not be a good decision to remove directly.
For the `align \d+` attribute, it only indicates the specified alignment, so it can be remove.
Someone may not care about strict llvm ir. Is it feasible to provide an option switch w

[2021-12-22 21:30] mewmew commented on #212
You are most welcome :)

The grammar of LLVM 11.0 supported implicit `sret`, but for LLVM 13.0, an explicit type is required. This is true also for the official LLVM distribution.

That's a good idea. I'm not sure if it is possible, but definitely worth investigating.

Would you care to take a look @pupiles?

The generated lexer and parser are in [llir/ll](https://github.com/llir/ll), and the gram

[2021-12-22 23:19] dannypsnl commented on #212
Maybe off-topic, but perhaps we take asm parser source code from llvm source code, compile and link with our Go code? The problem I can see is
1. Have to check license
2. We better port this back to the old version of different llvm mapping
3. We need to convert c/c++ struct back to our Go struct

The benefit I can see is
1. we get the same behavior as official one
2. we don't maintain a parser
3.

[2021-12-25 15:00] #208 closed

[2021-12-25 15:01] dannypsnl commented on #209
I would create two API
1. c-string
2. p-string

[2021-12-25 15:19] dannypsnl commented on #209
[here](https://github.com/llir/irutil/commit/c57eca4437aabdee0cc81c569d1d3fc23e951fd6), since we do have c-string now!

[2021-12-25 15:26] dannypsnl opened #213 "`SRet` struct location"
we define at here https://github.com/llir/llvm/blob/99c4c9dbff20c151c272de5e1c9d12f3d493a90b/ir/helper.go#L401

but previously it's at `enum` as parameter attribute, maybe we need a module for attribute?

[2021-12-25 15:32] dannypsnl commented on #209
ok...maybe the problem is should we add `Len` for `CharArray`?

[2021-12-26 16:15] mewmew commented on #213
I'm not sure I fully understand. I might have misunderstood exactly what this issue is about.

Could you give an LLVM IR example including `sret` which we are currently unable to represent using the IR of `llir/llvm/ir`.

Cheers,
Robin

[2021-12-26 16:18] mewmew commented on #209
`CharArray` is modelled from the character array of LLVM. It handles any kind of string, not just length-prefixed strings, so I think using `irutil` for this is the way to go.

To get the length of a `CharArray`, simply use `len`:

[code]

[2021-12-26 20:09] #209 closed

[2021-12-26 20:19] dannypsnl commented on #213
So, I found an ancient code for `SRet`: `enum.ParamAttrSRet` in https://github.com/llir/document. Of course, we can remove it, but when finding a replacement? I cannot find it since it's not at `enum` but `ir` module, this is quite confusing. So I want to extract a module like
[code]

[2021-12-26 22:05] mewmew commented on #213
The parameter attribute `sret` was an enum in earlier versions of LLVM (before version 12.0), because it was only ever written as `sret`. All versions of LLVM from 12.0 and later use `sret(Type)` and the old syntax for using only `sret` in LLVM IR was removed.

Therefore, in commit 9e6e4202d5183eadd4b75c99e7a57d53049b00b9 we removed the `sret` enum from `ir/enum`, and introduced the [ir.SRet](http

[2021-12-26 22:05] #213 closed

[2022-01-19 03:53] andybalholm commented on #19
The simplest thing that could possibly work would be to make Instructions and Terminators fulfill this interface:

[code]

Then users of the package could implement their own use tracking without needing a giant type switch; they could treat all ValueUsers alike.

But once you've done that, building a map from Values to ValueUsers would be simple enough that you might as well do it too:

[code]

[2022-01-19 16:36] andybalholm commented on #19
Sounds good to me. I'm not sure if ValueUser is the best name for the interface if the method is named Operands, but I don't know what name to suggest.

[2022-01-19 23:47] mewmew commented on #19
I think it's fine. If we figure out a better one while implementing the feature, we can change it.

How about `value.User`? This matches the name used in the official LLVM API (ref: https://llvm.org/doxygen/classllvm_1_1User.html).

[2022-01-19 23:52] dannypsnl commented on #19
So we only need to merge operands branch?

[2022-01-20 00:05] andybalholm commented on #19
Yes, I think `value.User` would be fine.

[2022-01-20 00:38] mewmew commented on #19
Almost. The operands branch still used non-mutable lists for operands. I made a new PR returning a mutable list from the `Operands` method. Otherwise, they should be identical.

Cheers,
Robin

[2022-01-20 00:55] mewmew commented on #191
Related to this issue, the `Operands` method is implemented in PR #214.

[2022-01-20 02:25] #19 closed

[2022-01-20 02:25] #42 closed

[2022-01-25 04:26] dannypsnl commented on #191
close by #214.

[2022-01-25 04:26] #191 closed

[2022-01-25 04:37] dannypsnl commented on #203
Just thinking, maybe https://github.com/llir/llvm/issues/59#issuecomment-993037757 is not hopeless now with Generic concept in Go(actually union part).

Previously, we must write
[code]
To let users have their own `Function`, now we can have
[code]

[2022-02-15 20:34] RedCubeDev-ByteSpace opened #215 "How to use Function Pointers?"
Hello there 👋

Ive been working on a compiler for a couple weeks and started work on some object oriented constructs.
For that I have written all the necessary code in C using structs and functions. I would now like use those structs in my go-compiled program. (I assume using external structs works the same way as using external functions (just declaring it and the linker takes care of the rest))

[2022-02-15 22:40] mewmew commented on #215
Hi @RedCubeDev-ByteSpace!

Glad to see you are getting into compiler design and development! It's a great passion and you will hopefully have a lot of fun implementing your own compiler :)

Given the following input C source file:

[code]

And the corresponding LLVM IR (by running the command `clang -S -emit-llvm -o foo.ll foo.c`):

[code]

We can see that the struct type containing the two functi

[2022-02-15 23:02] RedCubeDev-ByteSpace commented on #215
Oh wow thanks for the quick reply!
I see, alright thank you a lot for taking the time to explain this to me :D

[2022-02-16 12:02] mewmew commented on #215
Glad the explanation helped! :)

I'll close this issue for now, if you wonder something in the future, feel free to open a new issue or re-open this one.

Happy coding!

Cheers,
Robin

[2022-02-16 12:02] #215 closed

[2022-02-19 13:22] Chronostasys opened #216 "Wrong function pointer type"
Hi,
I'm using this library to build my toy language recently, the experience is awesome. However, things become wired when I try to play with function pointers.
Consider the example in [#215 ](https://github.com/llir/llvm/issues/215#issuecomment-1040870195), the ir generated from C has the struct type `{ i32 (i32, i32)*, double (double)* }`  which is right and the go code following it shall genera

[2022-02-19 13:36] Chronostasys commented on #216
Oh, I'm really sorry. Seems the type in ·ir.Func` is right. The example above is using function types return from `NewFunc` call. Thanks again for building this amazing library!

[2022-02-19 13:36] #216 closed

[2022-02-21 09:17] Chronostasys opened #217 "indirect br only takes constant addr"
Hi,
I'm trying to implement generator for my toy language following [this guide](https://mapping-high-level-constructs-to-llvm-ir.readthedocs.io/en/latest/advanced-constructs/generators.html), and I found `NewIndirectBr(addr constant.Constant, validTargets ...*Block) *TermIndirectBr`  only accepts constant address. However the first block address is calculated on the other function so I have to pe

[2022-02-21 13:13] mewmew commented on #217
@Chronostasys, thanks for reporting this issue! You're right. It turns out you can pass an arbitrary `i8*` value to `indirectbr` (see example below).

We'll make sure to update the `llir/llvm` API to support `value.Value` as an operand to `indirectbr`.

[code]

[code]

**Note**: in the above example, I was surprised to see that LLVM does *not* validate the address to ensure it is present in the su

[2022-02-21 13:25] #217 closed

[2022-04-18 13:04] ThreadedStream opened #218 "Returning void as a value"
As per LLVM Language Reference Manual
[code]
but NewRet expects a value. Obviously, I cannot pass the type. Is there any work-around?

[2022-04-18 13:05] ThreadedStream commented on #218
Wouldn't it violate the rules if I write a value wrapper around a void type?

[2022-04-18 13:21] dannypsnl commented on #218
use `NewRet(nil)`

[2022-04-18 13:25] ThreadedStream commented on #218
Oh, thank you.

[2022-04-18 13:25] #218 closed

[2022-05-01 00:33] suhabe commented on #205
Is LLVM 13 and LLVM 14 supported now? If not, how can I help?

[2022-05-01 00:58] dannypsnl commented on #205
No, but https://github.com/llir/llvm/issues/205#issuecomment-944248246 has a hidden difference, you will modify https://github.com/llir/grammar/blob/master/ll.tm to handle those new syntaxes in llir. Generate command is `make gen`, but I already forget how to get `./tools/textmapper`. This is the grammar for the parser generator.

After generating parser by generator, you might need to update http

[2022-05-01 12:17] mewmew commented on #205
Hi @suhabe,

Glad to see you take an interest in the project :)

As noticed, @dannypsnl has started work on LLVM 13. For the last few releases of `llir/llvm` @dannypsnl has been the one doing the majority of the work. I've mostly updated test cases and helped coordinate a bit.

However, work on LLVM 13 and upwards have been put on hold as both @dannypsnl and I are busy in life. Since this is a hob

[2022-05-01 12:20] mewmew commented on #205
@dannypsnl, is the [llvm13.diff](https://github.com/llir/llvm/blob/llvm13/llvm13.diff) up to date? If so, it's already tracked in the [llvm13 branch](https://github.com/llir/llvm/tree/llvm13) :) If not, then feel free to update it based on the `<details>` field of the linked comment https://github.com/llir/llvm/issues/205#issuecomment-944248246.

Cheers,
Robin

[2022-05-02 01:29] dannypsnl commented on #205
Oh! Then I think it's up to date

Robin ***@***.***>於 2022年5月1日 週日，下午8:20寫道：

[2022-08-01 14:56] #205 closed

[2022-08-01 15:04] mewmew opened #220 "update llir/llvm to support 14.0"
ref: #205.

LLVM 14.0 has been released: https://github.com/llvm/llvm-project/releases/tag/llvmorg-14.0.0

[code]

[2022-08-01 15:08] mewmew commented on #205
@suhabe, now LLVM 13.0 is supported; as of [llir/llvm version 0.3.5](https://github.com/llir/llvm/tree/v0.3.5).

[2022-08-02 04:46] #220 closed

[2022-08-02 04:49] mewmew commented on #205
@dannypsnl thanks for doing the initial work on the LLVM 13.0 release of `llir/llvm`! We've now got support for both LLVM 13.0 and LLVM 14.0 in `llir/llvm`.

Wish you a happy summer!

Cheers,
Robin

[2022-08-02 04:52] mewmew opened #222 "update llir/llvm to support LLVM 15.0"
ref: #220.

LLVM 15.0 is **yet to be released** (release candidate at: https://github.com/llvm/llvm-project/releases/tag/llvmorg-15.0.0-rc1)

TODO: Once released, create a diff as follows:
[code]

[2022-08-02 06:10] dannypsnl commented on #222
But since 16 is bumped, I guess release of 15 will be soon?

[2022-08-02 11:38] dannypsnl commented on #212
@mewmew since 13 just get supported, would this get solved?

[2022-08-02 13:21] mewmew commented on #212
Given that the llvm13 branch has been merged into master, the work-around mentioned in https://github.com/llir/llvm/issues/212#issuecomment-999690598 should be enough to parse the LLVM IR example source.

The `align` ambiguity still remain, but this issue is already tracked by #40. So we can safely close this issue.

Cheers,
Robin

P.S. feel free to re-open this issue or a new one if there is a pa

[2022-08-02 13:21] #212 closed

[2022-08-02 20:26] mewmew commented on #222
From https://llvm.org/

LLVM Release Schedule:

* 15.0.0
   - Jul 26: release/15.x branch created.
   - Jul 29: 15.0.0-rc1
   - Aug  9: 15.0.0-rc2
   - Aug 23: 15.0.0-rc3
   - Sep  6: 15.0.0-final

[2022-08-03 00:43] mewmew commented on #220
@dannypsnl, could you prepare the v0.3.5 and v0.3.6 releases so they show up on https://github.com/llir/llvm/releases? (I've not done that before)

Cheers,
Robin

[2022-08-03 00:43] mewmew commented on #222
@dannypsnl, could you prepare the v0.3.5 and v0.3.6 releases so they show up on https://github.com/llir/llvm/releases? (I've not done that before)

Cheers,
Robin

[2022-08-03 00:45] mewmew commented on #222
Re-opening this issue since LLVM 15.0 has not yet been released. `llir/llvm` currently supports the LLVM 15.0 rc1 release.

[2022-08-03 00:46] mewmew commented on #205
@dannypsnl, could you prepare the v0.3.5 (LLVM 13.0) and v0.3.6 (LLVM 14.0) releases so they show up on https://github.com/llir/llvm/releases? (I've not done that before)

Cheers,
Robin

[2022-08-03 05:04] dannypsnl commented on #205
Sure~~~

[2022-08-03 07:54] dannypsnl commented on #205
Done!

[2022-08-15 09:21] RedCubeDev-ByteSpace opened #224 "How to have two structs referencing eachother"
Hello there 👋

I'm currently working on a compiler using this package and have hit a little road block while working on classes.
I would like two classes (which are represented as structs) being able to reference eachother, so A having a pointer to B and B having a pointer to A but I couldn't figure out how to implement that using this library, as they need to be defined in some order and as far a

[2022-08-15 10:56] dannypsnl commented on #224
For short(I’m not with my computer now), I believe you will just take the type back from module instance.

[2022-08-15 12:00] mewmew commented on #224
Hi @RedCubeDev-ByteSpace,

Happy to see you playing around with LLVM IR : )

Adding a bit to what @dannypsnl wrote.

Self-referential types, and circular references are always a bit difficult to deal with. That being said, it should be possible to do what you wish as follows:

[code]

Note, there is nothing "special" about type definitions, they are just a regular [ir/types.Type](https://pkg.go.de

[2022-08-15 12:00] #224 closed

[2022-08-15 12:28] dannypsnl commented on #224
@mewmew Do you think we need `GetFuncByName(name string)` and `GetTypeByName(name string)`?

[2022-08-16 11:58] mewmew commented on #224
These would be easy to implement in `irutil`. The implementation may either just do a `range` loop over the slice and check the name.

Or, if the order of declarations and definitions does not matter, we could sort them alphanumerically and then use binary search. Probably this approach is overkill and we should also have to make sure to keep the list sorted after inserting new elements. So, if th

[2022-09-06 16:00] dannypsnl commented on #222
https://discourse.llvm.org/t/llvm-15-0-0-release/65099
Here we go

[2022-09-06 17:58] mewmew commented on #222
Yay! Just a quick heads up, I'll be very busy at Uni for the next few months. So. I won't be able to review work on the LLVM 15 release.

Cheers,
Robin

[2022-10-15 15:10] sam-the-programmer opened #225 "How to convert to exe?"
If I create a translator for my programming language to LLVM IR in Go, how can I turn that LLVM IR to an executable, preferably using a go library (but can use other methods if necessary)

[2022-10-15 15:19] dannypsnl commented on #225
I think the easiest is invoking `llc` via system API.

[2022-10-15 19:49] mewmew commented on #225
As @dannypsnl pointed out, the official LLVM toolchain is used for optimizing LLVM IR and producing executables from LLVM IR.

For a given LLVM IR file `foo.ll`, to produce a binary, run:

[code]

For a given LLVM IR file `foo.ll`, to optimize the LLVM IR, run:

[code]

And, as mentioned, if you want to run this from Go, use [os/exec](https://pkg.go.dev/os/exec#example-Command).

Cheers,
Robin

[2022-10-16 09:09] sam-the-programmer commented on #225
Thank you, everyone!

[2022-10-16 09:09] #225 closed

[2022-10-20 00:47] dannypsnl commented on #40
Do we consider ANTLR? I was thinking so many issues you opened just cannot get fixed, maybe we should swap to a more stable parser generator? Anyway, it can't be more painful.

[2022-10-20 01:00] dannypsnl commented on #222
Update: 15.0.3 https://github.com/llvm/llvm-project/releases/tag/llvmorg-15.0.3

[2022-10-20 21:02] mewmew commented on #40
@dannypsnl, haha, yeah I know, there are some pains with using Textmapper. I do think however this is true for *every* parser generator.

That being said, feel free to do a Proof of concept : )

I think every parser generator has pros and cons. So if ANTLR turns out to solve more issues than it creates, it may be worth it. However, it should be noted that this is a *ton of work*. So, except to put